# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ 17, 19 ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Build & Test
        run: mvn clean verify

      - name: Archive Test Logs On Failure
        if: failure()
        run: tar -czvf surefire-reports-jdk-${{ matrix.java }}.tar.gz **/target/surefire-reports/*

      - name: Upload Test Logs On Failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: surefire-reports-jdk-${{ matrix.java }}
          path: surefire-reports-jdk-${{ matrix.java }}.tar.gz

      - name: Javadoc etc
        run: mvn clean verify -Dgpg.skip -DskipTests

      - name: RAT check
        run: mvn clean apache-rat:check
